<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<style>
	footer {
	color:white;
	display: flex;
	padding:5px;
	padding-left: 30px;
	margin-top:50px;
	}
	.container{
	padding-left: 20px
	}
</style>

<footer class="py-5 bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h5>Customer Service</h5>
				<ul class="list-unstyled">
					<li>Contact Us</li>
					<li>Help Center</li>
					<li>Payment Methods</li>
					<li>Return and Refund</li>
				</ul>
			</div>
<!--			<div class="col-md-3">-->
<!--				<h5>Payment</h5>-->
<!--				<p>Cash only</p>-->
<!--			</div>-->
			<div class="col-md-3" >
				<h5>Payment</h5>
				<p><i class="fa-solid fa-wallet" style="font-size:20px"></i> Cash</p>
				<img src="/images/pay_methods.png" width="120" >
			</div>
			<div class="col-md-3">
				<h5>Follow Us</h5>
				<ul class="list-unstyled">
					<li><a href="https://www.instagram.com/" style="text-decoration:none; color:white;"><i class='fa fa-instagram' style="padding-right:5px"></i>Instagram</a></li>
				</ul>
				<span class="text-muted">&hearts; Radiance, Woodlands</span>
			</div>
			<div class="col-md-3">
				<h5>Contact Info</h5>
				<ul class="list-unstyled">
					<li class="address">19 Nguyen Huu Tho Street, Q7, HCM, VN</li>
					<li class="phone"><a href="tel://23923929443">+2 392 3929 443</a></li>
					<li class="email">pharma.contact@gmail.com</li>
				</ul>
			</div>
		</div>
	</div>
<!--	<divclass="container">-->
	<p class="text-center">
		&copy; <script>document.write(new Date().getFullYear());</script> Nhóm CN JAVA
		<i class="icon-heart" aria-hidden="true"></i> by <span>Anh Quân, MeSa, Huy Hưng, Roth</span>
	</p>
	</div>
</footer>